* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color:white;
}

.container {
    width: 1050px;
    margin: 0px auto;
    display: table;
}

.top-header {
    background: darkgreen;
    padding: 10px;
}

.top-header a {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration:none;
    color: white;
}

.top-header b {
    float: right;
}

.logo {
    font-size: 18px;
    color: green;
}

nav {
    float: right;
    padding:25px 0px;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 2px 10px;
    font-weight: 500;
}

.slider {
    line-height: 0px;
}

.slider img {
    width: 100%;
}

.update {
    background: #FF5722;
    padding: 6px;
}

.news b {
    background: #fff;
    color: red;
    font-size: 20px;
}

.news marquee {
    font-size: 18px;
    width: 80%;
}

.main-section {
    width: 100%;
    float: left;
    padding: 130px 0px 130px 0px;
    background: #FFF9C4;
}

.main-section:nth-child(odd) {
    background: #AED581;
}

.heading {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 70px;
    color: black;
    text-align: center;
    position: relative;
    font-family: serif;
}

.heading:after {
    content: '';
    background: #FF5722;
    height: 3px;
    width: 80px;
    position: absolute;
    bottom: -11px;
    right: 45%;
}

.notice-board {
    width: 88%;
    margin-left: 6%;
    background: #2a7f2e;
    border: 10px solid #ffac88;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.notice-board li {
    width: 100%;
    float: left;
    padding: 20px;
}

.notice-board li span {
    background: #FF9800;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 8px 12px;
    margin-right: 10px;
    position: relative;
    top: -8px;
}

.about-us div {
    width: 45%;
    float: left;
    line-height: 30px;
    font-size: 18px;
}

.about-us h4 {
    font-size: 18px;
    color: red;
    font-weight: 500;
}

.about-us p {
    font-size: 16px;
    margin-bottom: 20px;
    padding-right: 30px;
    line-height: 23px;
    color: black;
}

.about-us img {
    width: 500px;
    float: left;

}